/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  --basic-font: 'Arial', sans-serif;
  --light-color: #e8e8e8;
  --grey-color: #9b9b9b;
  --dark-color: #171717;
}


/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  font: 400 16px/24px var(--basic-font);
  color: var(--dark-color);
  background-color: var(--light-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*====================
    MAIN STYLES
  ====================*/
/* header & footer */
.header,
.footer {
  padding: 20px;
}

.header__text,
.footer__text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  text-align: center;
}


/* keyboard */
.keyboard {
  padding: 100px 0;
}

.text-field {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px 10px #ffffff;
  outline: none;
}

.text-field--active {
  box-shadow: 0 0 30px 20px #ffffff;
}

.keyboard__inner {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
}

.keyboard__row {
  margin-right: -10px;
}

.keyboard__row+.keyboard__row {
  margin-top: 10px;
}

.keys {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grow {
  flex-grow: 1;
}

.keys__item {
  margin-right: 10px;
}

.key {
  display: block;
  width: 100%;
  min-width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(155, 155, 155, 0.3);
}

.key--active {
  filter: invert(1);
}

.key-backspace {
  min-width: 150px;
  background-image: url("../images/backspace.svg");
  background-repeat: no-repeat;
  background-size: 40px auto;
  background-position: center;
}

.key-tab {
  min-width: 100px;
  background-image: url("../images/tab.svg");
  background-repeat: no-repeat;
  background-size: 40px auto;
  background-position: center;
}

.key-backslash {
  min-width: 90px;
}

.key-with-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.key-capslock {
  min-width: 120px;
}

.key-enter {
  min-width: 150px;
  background-image: url("../images/enter.svg");
  background-repeat: no-repeat;
  background-size: 40px auto;
  background-position: center;
}

.key-shift {
  min-width: 150px;
  background-image: url("../images/shift.svg");
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center;
}

.key-meta {
  background-image: url("../images/windows.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.key-space {
  min-width: 300px;
  background-image: url("../images/space-key.svg");
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}

.keys__item-arrows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25px);
  grid-gap: 10px;
}

.key-arrow {
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.key-arrow-left {
  grid-row: 1/3;
  background-image: url("../images/arrow-left.svg");
  background-size: 40px auto;
}

.key-arrow-top {
  background-image: url("../images/arrow-up.svg");
  background-size: auto 15px;
}

.key-arrow-bottom {
  background-image: url("../images/arrow-down.svg");
  background-size: auto 15px;
}

.key-arrow-right {
  grid-row: 1/3;
  grid-column: 3/4;
  background-image: url("../images/arrow-right.svg");
  background-size: 40px auto;
}

/*====================
    ANIMATIONS
  ====================*/


/*====================
    DESKTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
